## Download

[Download from here](https://www2.telepac.agriculture.gouv.fr/telepac/tbp/accueil/accueil.action)

In [6]:
import pandas as pd

In [21]:
YEAR = 2016

In [22]:
df = pd.read_csv(f'fr_{YEAR}_raw.csv', delimiter=';', encoding='latin1')
df.head()

,Nom / Raison sociale,Commune,Code postal,Libellé rubrique,Montant rubrique
0,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"789,92"
1,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"0,00"
2,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"614,00"
3,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"659,64"
4,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"778,00"

In [23]:
list(df.columns)

['Nom / Raison sociale',
 ' Commune',
 ' Code postal',
 ' Libellé rubrique',
 ' Montant rubrique']

In [24]:
df['amount'] = pd.to_numeric(df[' Montant rubrique'].str.replace(',', '.'))
df.head()

,Nom / Raison sociale,Commune,Code postal,Libellé rubrique,Montant rubrique,amount
0,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"789,92",789.92
1,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"0,00",0.00
2,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"614,00",614.00
3,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"659,64",659.64
4,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"778,00",778.00

In [25]:
df[' Code postal'].value_counts()

50XXX    4637
64XXX    4140
24XXX    3589
64120    3530
32XXX    2920
47XXX    2898
31XXX    2891
63XXX    2611
65XXX    2606
38XXX    2584
14XXX    2560
64160    2453
53XXX    2444
64220    2391
35XXX    2368
40XXX    2313
61XXX    2144
81XXX    2123
17XXX    2122
35133    2068
64130    2045
56500    1972
12120    1939
76XXX    1906
32300    1900
64240    1891
26XXX    1867
12XXX    1855
22XXX    1821
72XXX    1797
         ...
29192       1
44702       1
06503       1
43002       1
54525       1
17181       1
13620       1
22302       1
75536       1
91265       1
67081       1
97822       1
90120       1
50407       1
73491       1
30980       1
12204       1
80534       1
69923       1
08003       1
66006       1
57250       1
26106       1
42403       1
28231       1
12203       1
51097       1
39004       1
62104       1
35532       1
Name:  Code postal, Length: 7449, dtype: int64

In [26]:
df.groupby('Nom / Raison sociale')['amount'].sum().sort_values(ascending=False)

Nom / Raison sociale
LACTALIS INGREDIENTS                                          50939529.04
SUCRIERE DE LA REUNION SAS                                    30914000.00
XXX                                                           28791933.80
ETS PUB AD DEPARTEMENT DE LA REUNION                          19090406.35
SUCRERIE DE BOIS ROUGE                                        13249000.00
URCOOPA                                                       13143114.06
GARDEL SA                                                     12117240.65
LAITA                                                         10675303.25
RUMI                                                           9710475.74
ETS PUBLIC AGENCE DE SERVICES ET DE PAIEMENT                   8466317.33
MELKWEG HOLLAND BV                                             7709922.15
AUTRES VIVEA                                                   7659662.17
ASS ORG PROD RECONNUS BRET FRUITS LEGU                         7575081.84
ARIBEV                                                         7003536.53
SOCIETE BRL                                                    6195051.25
ETS PUB IC COMPAGNIE D'AMENAGEMENT DES COTEAUX DE GASCOGNE     5992873.42
COOPERATIVE MARAICHERE DE L'OUEST                              5905201.15
CONSEIL INTERPROF DU VIN DE BORDEAUX                           5353418.75
LES VERGERS DE BLUE WHALE                                      5223551.02
CENTRE NAT INTERPRO ECONOMIE LAITIERE                          5189911.26
UNION DES DISTILLERIES DE LA MEDITERRANEE                      4894154.13
SCA OCEANE                                                     4810078.11
GRAP'SUD                                                       4631886.40
AGRIAL                                                         4571468.01
ETS PUBLIC CIRAD REUNION                                       4541811.87
CONSEIL REGIONAL DE LA GUADELOUPE                              4524039.50
SA BOIS DEBOUT                                                 4393736.68
UNION DES COOPERATIVES VINICOLES D'AQUITAINE UCVA              4322034.49
CERAFEL (AOP)                                                  4201726.00
PETIT MORNE SARL                                               4144919.74
                                                                 ...
MAILLOT JEAN DANIEL                                               1250.88
VRAC CECILE                                                       1250.86
ABADIE HENRI                                                      1250.86
SAINT GENES ARNAUD                                                1250.84
BOURILLON TANGUY                                                  1250.82
DUGUE ELODIE                                                      1250.82
JACQUET BERNARD CHARLES                                           1250.77
BARAT ALBERT                                                      1250.77
MOULIN JOSETTE                                                    1250.70
BOURCIQUOT CLAUDIE                                                1250.67
SARL LES ECURIES DE BIERCY                                        1250.65
LECLER JEAN                                                       1250.64
BEATRICE ULLIEL                                                   1250.60
PAYRI JACQUES                                                     1250.50
SCOTTO BENOIT                                                     1250.45
BEGUE GUYLHAINE                                                   1250.44
DENAYROUZE ANDRE                                                  1250.39
GREGOIRE JOELLE                                                   1250.38
COTTE FLORIAN                                                     1250.36
RIOUSPEYROUS ROBERT                                               1250.34
PEYSSONNEL MAURICE                                                1250.33
LARTISIEN LUCETTE                                                 1250.33
DELARUE NELLY                                                     1250.28
GRAJKOWSKI CHRISTIAN                                              1250.24
NEUVILLE OLIVIER                                                  1250.22
LYCEE GENERAL ET TECHNOLOGIQUE LAVOISI                            1250.22
FOORT JONATHAN                                                    1250.14
GUESNON PATRICK                                                   1250.14
LACHAUME PATRICIA                                                 1250.14
MERLE JEAN-MARC                                                   1250.09
Name: amount, Length: 305189, dtype: float64

In [27]:
df.head()

,Nom / Raison sociale,Commune,Code postal,Libellé rubrique,Montant rubrique,amount
0,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"789,92",789.92
1,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"0,00",0.00
2,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"614,00",614.00
3,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"659,64",659.64
4,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,"778,00",778.00

In [28]:
df = df.rename(columns={
    'Nom / Raison sociale': 'recipient_name',
    ' Commune': 'recipient_location',
    ' Code postal': 'recipient_postcode',
    u' Libellé rubrique': 'scheme'
})
df = df.drop(' Montant rubrique', 1)
df.head()

,recipient_name,recipient_location,recipient_postcode,scheme,amount
0,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,789.92
1,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,0.00
2,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,614.00
3,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,659.64
4,XXX,XXX,01XXX,III.11 - Mesures de prévention des perturbatio...,778.00

In [29]:
df['recipient_location'] = df['recipient_location'].where(df['recipient_location'] != 'XXX', '')
df.head()

,recipient_name,recipient_location,recipient_postcode,scheme,amount
0,XXX,,01XXX,III.11 - Mesures de prévention des perturbatio...,789.92
1,XXX,,01XXX,III.11 - Mesures de prévention des perturbatio...,0.00
2,XXX,,01XXX,III.11 - Mesures de prévention des perturbatio...,614.00
3,XXX,,01XXX,III.11 - Mesures de prévention des perturbatio...,659.64
4,XXX,,01XXX,III.11 - Mesures de prévention des perturbatio...,778.00

In [30]:
df['recipient_name'] = df['recipient_name'].where(df['recipient_name'] != 'XXX', '')
df.head()

,recipient_name,recipient_location,recipient_postcode,scheme,amount
0,,,01XXX,III.11 - Mesures de prévention des perturbatio...,789.92
1,,,01XXX,III.11 - Mesures de prévention des perturbatio...,0.00
2,,,01XXX,III.11 - Mesures de prévention des perturbatio...,614.00
3,,,01XXX,III.11 - Mesures de prévention des perturbatio...,659.64
4,,,01XXX,III.11 - Mesures de prévention des perturbatio...,778.00

In [31]:
from slugify import slugify

df['year'] = YEAR
df['recipient_id'] = df.apply(lambda x: 'FR-%s-%s' % (x['recipient_postcode'],
                                                     slugify(x['recipient_name']) if x['recipient_name'] else '%s-%s' % (x['year'], x.name)), 1)
df.head()

,recipient_name,recipient_location,recipient_postcode,scheme,amount,year,recipient_id
0,,,01XXX,III.11 - Mesures de prévention des perturbatio...,789.92,2016,FR-01XXX-2016-0
1,,,01XXX,III.11 - Mesures de prévention des perturbatio...,0.00,2016,FR-01XXX-2016-1
2,,,01XXX,III.11 - Mesures de prévention des perturbatio...,614.00,2016,FR-01XXX-2016-2
3,,,01XXX,III.11 - Mesures de prévention des perturbatio...,659.64,2016,FR-01XXX-2016-3
4,,,01XXX,III.11 - Mesures de prévention des perturbatio...,778.00,2016,FR-01XXX-2016-4

In [32]:
df['recipient_id'].value_counts().count()

489607

In [ ]:
df['currency'] = 'EUR'
df['country'] = 'FR'
df.head()

,recipient_name,recipient_location,recipient_postcode,scheme,amount,year,recipient_id,currency,country
0,,,01XXX,III.11 - Mesures de prévention des perturbatio...,789.92,2016,FR-01XXX-2016-0,EUR,FR
1,,,01XXX,III.11 - Mesures de prévention des perturbatio...,0.00,2016,FR-01XXX-2016-1,EUR,FR
2,,,01XXX,III.11 - Mesures de prévention des perturbatio...,614.00,2016,FR-01XXX-2016-2,EUR,FR
3,,,01XXX,III.11 - Mesures de prévention des perturbatio...,659.64,2016,FR-01XXX-2016-3,EUR,FR
4,,,01XXX,III.11 - Mesures de prévention des perturbatio...,778.00,2016,FR-01XXX-2016-4,EUR,FR

In [ ]:
df.to_csv(f'fr_{YEAR}.csv.gz', index=False, encoding='utf-8', compression='gzip')